
/* Hero Image of bike*/
#hero-section {
	height: 650px;
	width: 100%;
	background-image: url("../img/back-wall.jpg");
	background-size: cover;
	background-position: center;
}


/* Trapazoid on right*/

#hero-section .trap-r {
	display: inline;
	height: 105%;
	width: 60%;
	opacity: .9;
	background-image:url("../img/trap.svg");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	text-align: center;
}

#hero-section h1 {
	display: inline;
	position: absolute;
	top: 15%;
	left: 2%;
	font-size: 100px;
	font-family: 'Raleway', sans-serif;
;
	color: white;
	text-decoration: underline;
	text-decoration-color: #1bf128;
	border: 3px solid white;
/*	border-left: 3px solid white;
	border-bottom: 3px solid white;
	border-top: 3px solid white;*/
	padding: 2%;
	background-color: rgba(255, 255, 255, .3);
 }

 #demo {
 	padding-left: 10%;
 	padding-right: 3%;
 	position: relative;
 	top: 10%;
 	color: white;
 	word-wrap: break-word;
 }

 #hero-section .trap-r .icon-holder {
 	position: absolute;
 	top: 70%;
 	left: 28%;
 }

 .icon-holder div {
 	/*border: 1px solid black;*/
 	background-color: #1bf128;
 	border-radius: 50%;
 	display: inline-block;
 	padding-top: 7%;
 	height: 130px;
 	width: 130px;
 	margin: 0px 10px;
 }


 #hero-section .trap-r .fas {
 	font-size: 70px;
 	margin: 0px 25px; 
 	color: white;
 	/*background-color: #1bf128;*/
 	opacity: 1;
 	/*border-radius: 50%;*/
 	/*padding: 20px;*/
 }

 .trap-r h2 {
 	position: absolute;
 	top: 35%;
 	left: 25%;
 	color: white;
 	font-size: 45px;
 	font-family: 'Raleway', sans-serif;
 	text-decoration: underline;
	text-decoration-color: #1bf128;
 }

.trap-r button {
	position: absolute;
 	top: 51%;
 	left: 49%;
 	color: #f1281b;
 	font-size: 30px;
 	font-family: 'Raleway', sans-serif;
 	border-radius: 30px;
 	padding: 5px 10px;
 	transition: all .3s ease-in-out;
}

.trap-r button:hover {
	background-color: #f1281b;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	transform: scale(1.1);
}

.trap-r button:focus {
	outline: none;
}


/* Landscape */
#landscape {
	height: 650px;
	width: 100%;

	background-size: cover;
	background-position: center;
}

.cls-3, .cls-1, .cls-4 {
	transition: all 1s ease-in-out;
	transition-delay: 1s;
}

#landscape:hover .cls-1 {
	fill: #c557ea;
}

#landscape:hover .cls-3 {
	cursor: pointer;
	transform: translateY(300px);
	fill: #eeefa7;
}


#landscape:hover .cls-4 {
	fill: #825c10;

}

.land-text {
	display: inline;
	position: relative;
	top: 40%;
	left: 50%;
	color: white;
	font-size: 50px;
	font-family: 'Raleway', sans-serif; 
	text-transform: uppercase;
}

.fa-parachute-box {
	font-size: 100px;
	position: relative;
	top: 65%;
	left: 25%;
	color: rgb(250, 137, 80);
	transition: all 2s ease-out;
}

#landscape:hover .fa-parachute-box {
	transform: translate(300px, -200px);

}


/*Abstract*/

#abstract {
	margin-top: 200px;
	height: 650px;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

#abstract .first {
	position: absolute;
	top: 200px;
	right: 110px;
}

#abstract .second {
	position: absolute;
	top: 350px;
	right: 50px;
}

#abstract .third {
	position: absolute;
	top: 500px;
	right: 40px;
}

.abstract-text {
	font-size: 120px;
	font-family: 'Ruslan Display', serif;
	color: #f11be4;
	/*text-decoration: overline underline;*/
	text-decoration-color: purple;
	text-decoration-style: dashed;
}

#abstract h5 {
	font-size: 30px;
	color: purple;
	position: absolute; 
	right: 100px;
	bottom: -110px;
}

#modern {
	margin-top: 200px;
	height: 650px;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
	background-image: url("../img/modern.svg");
}


