
/* Hero Image of bike*/
#hero-section {
	height: 650px;
	width: 100%;
	background-image: url("../img/back-wall.jpg");
	background-size: cover;
	background-position: center;
}


/* Trapazoid on right*/

#hero-section .trap-r {
	display: inline;
	height: 100%;
	width: 60%;
	opacity: .7;
	background-image:url("../img/trap.svg");
	background-size: cover;
	background-repeat: no-repeat;
	float: right;
}

#hero-section h1 {
	display: inline;
	position: absolute;
	top: 15%;
	left: 2%;
	font-size: 100px;
	font-family: 'Raleway', sans-serif;
;
	color: #d80dcc;
	text-decoration: underline;
	text-decoration-color: #1bf128;
	border: 3px solid white;
	padding: 2%;
	background-color: rgba(255, 255, 255, .5);
 }